[submodule "lib/inih"]
	path = lib/inih
	url = https://github.com/jtilly/inih
[submodule "lib/amdgpu-tooling"]
	path = lib/amdgpu-tooling
	url = https://github.com/rochauha/amdgpu-tooling
[submodule "lib/exec-rw"]
	path = lib/exec-rw
	url = https://github.com/rochauha/exec-rw
[submodule "lib/msgpack-c"]
	path = lib/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
